p {
  font-family: Montserrat;
}

.model {
  text-align: center;
  margin-bottom: 5px;
  font-size: 45px;
}

.sentence {
  text-align: center;
  font-size: 18px;
}

.touchless-delivery {
  text-decoration: underline;
}